# Local Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=flare
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/flare

# Docker: switch file watcher to webpack with polling - may be required for development on Windows
# FILE_POLLING=true
# FILE_POLLING_INTERVAL=1000
